{{> header}}
{{> navbar}}

<div   class="row">
    <div class="col-8">
        <h1>Frajis</h1>
        <p>
            Los más majos de Pozuelin
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/frajis.jpg" class="img-thumbnail" />
    </div>
</div>
{{> footer}}